<aside class="sidebar">
  <div class="brand">
    <img src="../../assets/pic/logo.png" alt="Logo" class="logo">
    <div>
      <h1>BookStore</h1>
      <p>Admin Panel</p>
    </div>
  </div>
  <nav class="menu">
    <a href="kategori-buku.html" class="menu-item"><i class="fa-solid fa-layer-group"></i> Kategori Buku</a>
    <a href="katalog-buku.html" class="menu-item"><i class="fa-solid fa-book-open"></i> Katalog Buku</a>
    <a href="transaksi.html" class="menu-item"><i class="fa-solid fa-money-bill-transfer"></i> Data transaksi
      pembelian</a>
    <a href="report.html" class="menu-item"><i class="fa-solid fa-chart-line"></i> Laporan penjualan</a>
    <a href="filter-review.html" class="menu-item"><i class="fa-solid fa-filter"></i> Filter Review</a>
    <a href="user.html" class="menu-item"><i class="fa-solid fa-users"></i> User</a>
  </nav>
  <a href="../auth/auth.html" class="logout-btn"><i class="fa-solid fa-right-from-bracket"></i> Keluar</a>
</aside>